.filters-nav{
    min-width: 350px;
    max-width: 350px;
    color: #494949;
    & ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 25px;
        & li{
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            & label{
                display: flex;
                gap: 20px;
            }
        }
    }
}

.selected{
    color: #494949;
    font-weight: 600;
}