.bg-modal{
    background: #000000ee;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 500;
    & .modal-vender{
        position: absolute;
        z-index: 100;
        width: 900px;
        background: #FFF;
        padding: 60px;
        border-radius: 9px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 70%;
        height: 500px;
        color: #000;
        & .button-close-modal{
            position: absolute;
            top: -25px;
            right: -25px;
            font-size: 25px;
            height: 55px;
            width: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
        }
        & form{
        display: flex;
        gap: 50px;
        
        & picture{
            border: solid #000 1px;
            & input{width: 500px;} 
            
        }
         & div{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            & label{
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 25px;
                & input{
                    height: 30px;
                    width: 100%;
                    border-radius: 7px;
                    background-color: #fff;
                    border: 0;
                    outline: none;
                    box-shadow: 0 1px 2px 0 rgba(25, 0, 255, 0.7);
                    font-size: 20px;
                    padding: 5px 10px ;
                    color: #000;
                }
            }
         }
        }
}}